body {
  margin: 0px;
  height: 100vh;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(147, 185, 255);
}
.header>*>*{
  cursor: pointer;
}

.leftHeaderCommands {
  margin-left: 1rem;
}

.rightHeaderCommands {
  margin-right: 1rem;
}

.rightHeaderCommands,
.leftHeaderCommands {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 25px;
  height: 25px;
}
#searchBar{
  cursor: auto;
}

.bottomContent {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 166, 255);
}

.sidebar > * {
  margin: 1rem;
  font-size: x-large;
  font-weight: bold;
  line-height: 1.5;
}

.defaultPages, .Projects {
  list-style-type: none;
  padding: 0px;
  width: min-content;
}
.defaultPages>*, .Projects>*{
  cursor: pointer;
}
.clickedPage, .defaultPages>*:hover, .Projects>*:hover{
  background-color: rgb(68, 134, 226);
  border-radius: 10px;
}

.todoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageHeader {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: 500;
  margin-top: 1rem;
  width: 50%;
}

.projectItem{
  display:flex;
  align-items: center;
}
.projectItem>img{
  height: auto;
  width: 20px;
  margin-left: 10px;
}

.Projects{
  display: flex;
  flex-direction: column;
  padding: 0px;
}


.projectSidebarHeader {
  display: flex;
  align-items: center;
}

.todoItem, .complete{
  display: flex;
  font-size: large;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
  word-wrap: break-word;
}

.expand{
  cursor: pointer;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-auto-rows: 1fr;
  width: 400px;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(147, 185, 255, 0.938);
  color: black;
}
label {
  align-self: center;
}

.btn, .btn-cancel, .submitProject, .projectCancel{
  margin-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

input:focus {
  border-color: 1px solid rgb(68, 134, 226);
}
.btn:hover, .btn-cancel:hover, .submitProject:hover, .projectCancel:hover {
  background-color: rgb(68, 134, 226);
}

.todoInfo{
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 20px;
  word-wrap: break-word;
}

.clickedTodo{
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}


.clicked{
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: start;
}
.clicked>*{
  margin-bottom: 10px;
}
.clicked>:first-child{
  font-size: x-large;
  font-weight: bold;
}

 .todoItem:hover{
  background-color: lightgray;
  border-radius: 10px;
}

.todoControls{
display: flex;
align-items: center;
}

.priorityOne{
  background-color: lightcoral;
  border-radius: 10px;
}
.priorityTwo{
  background-color: rgb(255, 255, 123);
  border-radius: 10px;
}
.priorityThree{
  background-color: lightgreen;
  border-radius: 10px;
}